
      <div class="card <%= stage_helper(vc_firm) %> <%= sector_helper(vc_firm) %>">
        <div class="card-category"><%= vc_firm.vc_type %></div>
        <h2><%= vc_firm.name %></h2>
        <div class="card-description">
          <p><%= stage_helper_for_display(vc_firm) %></p>
        </div>
        <%= cl_image_tag vc_firm.logo, class: "card-logo avatar-large"%>
        <%= link_to "", vc_firm_path(vc_firm), class: "card-link" %>
        <span class="card-sectors">
          <%= sector_helper_for_display(vc_firm) %>
        </span>
      </div>
